$btn-height: 48px;

.btn {
  @apply cursor-pointer;
  @apply flex items-center justify-center;
  @apply font-semibold;
  @apply outline-none;
  @apply p-4;
  @apply rounded-sm;
  @apply w-full;

  height: $btn-height;
  transition: background-color 0.2s ease;

  &--dark {
    @apply bg-primary-900;
    @apply text-primary-400;

    &:focus,
    &:hover {
      background-color: lighten(#282a41, 2%);
    }
  }

  &--light {
    @apply bg-primary-800;
    @apply text-primary-300;

    &:focus,
    &:hover {
      background-color: darken(#3b3f61, 3%);
    }
  }

  &--fail,
  &--pending,
  &--success {
    @apply cursor-default;
    @apply px-0 py-3;
  }

  &--fail {
    @apply bg-red-600 #{!important};
  }

  &--pending {
    @apply bg-primary-900 #{!important};
  }

  &--success {
    @apply bg-green-600 #{!important};
  }
}
