.container {
  @apply my-6;
  @apply rounded;

  &--dark {
    @apply bg-primary-900;
  }

  &--light {
    @apply bg-primary-800;
  }
  
  &--pad-xs {
    padding: 10px;
  }

  &--pad-sm {
    padding: 20px;
  }

  &--pad-md {
    padding: 30px;
  }

  &--pad-lg {
    padding: 40px;
  }
}
