$btn-height: 48px;

.btn {
  @apply cursor-pointer;
  @apply flex items-center justify-center;
  @apply font-semibold;
  @apply outline-none;
  @apply px-5 py-4;
  @apply rounded-sm;
  @apply w-auto;

  height: $btn-height;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;

  @screen sm_max {
    @apply w-full;
  }

  &:disabled {
    @apply cursor-not-allowed;
  }

  &--danger {
    @apply bg-red-800;
    @apply text-white;

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      background-color: darken(#9B2C2C, 5%);
    }
  }

  &--dark {
    @apply bg-primary-900;
    @apply text-primary-400;

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      background-color: lighten(#282a41, 2%);
    }
  }

  &--disabled {
    @apply bg-gray-700;
    @apply text-white;
  }

  &--light {
    @apply bg-primary-800;
    @apply text-primary-300;

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      background-color: darken(#3b3f61, 3%);
    }
  }

  &--ok {
    @apply bg-green-700;
    @apply text-white;

    &:not(:disabled):focus,
    &:not(:disabled):hover {
      background-color: darken(#2f855a, 5%);
    }
  }
}

.btn__group {
  @apply flex items-center justify-center;
  @apply my-2;

  &--col {
    @apply flex-col;

    & .btn {
      @apply my-2;
      @apply w-full;

      &:first-child {
        @apply mt-0;
      }

      &:last-child {
        @apply mb-0;
      }
    }
  }

  &--row {
    @apply flex-row;

    & .btn {
      @apply flex-1;
      @apply mx-2;

      &:first-child {
        @apply ml-0;
      }

      &:last-child {
        @apply mr-0;
      }
    }
  }
}
