.form {
  @apply flex flex-col;

  &--center {
    @apply items-center justify-center;
  }

  &--end {
    @apply items-end justify-end;
  }

  &--start {
    @apply items-start justify-start;
  }

  &__errors,
  &__success {
    @apply font-normal text-base text-left;
  }

  &__errors {
    @apply bg-red-300;
    @apply text-red-900;
  }

  &__success {
    @apply bg-green-300;
    @apply text-green-900;
  }

  &__group {
    @apply flex flex-col;
    @apply my-3;
    @apply w-full;

    &:first-child {
      @apply mt-0;
    }
  }

  &__input {
    @apply border border-solid rounded-sm;
    @apply box-border;
    @apply m-0 p-4;
    @apply outline-none;
    @apply text-primary-300;
    @apply w-full;

    transition: border 0.15s ease-in-out;

    &:focus {
      @apply border-primary-500;
    }

    &--dark {
      @apply bg-primary-900;
      @apply border-primary-700;
    }

    &--error {
      @apply border-red-500 #{!important};
    }

    &--light {
      @apply bg-primary-800;
      @apply border-primary-700;
    }
  }

  &__input[type="password"]::after {
    content: "hello";
    font-size: 16px;
  }

  &__message {
    @apply block;
    @apply mx-0 my-3;
    @apply px-4 py-0;
  }

  &__label {
    @apply font-semibold text-primary-300;
    @apply pb-3;
  }
}
