body {
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  transition: background 0.2s ease-in-out;
}

[data-focus-visible-added]:focus {
  @apply border-2 border-solid border-primary-400 rounded;
  @apply outline-none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter,
.fade-leave-active {
  @apply opacity-0;
}

.modal-container-styles {
  @apply bg-transparent #{!important};
  @apply px-4;
}

.vm--modal {
  @apply shadow-none #{!important};
}